@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.form form{
  @apply grid grid-cols-1 gap-y-3  bg-white p-12 box-border w-[40Vw] text-[0.9em] ;
}
  
  .form form > div {
    @apply grid grid-cols-1 gap-y-2
  }
 
  .form form div label {
    @apply  font-medium ;

  }
  .form div input {
    @apply  text-gray-600 text-[1em] placeholder:text-[1em] focus:outline-none  my-1  hover:transition   hover:bg-gray-200  p-2 rounded-md border border-gray-400  ;
  }
  

   .profile >div{
    @apply grid grid-cols-1 gap-4  border-2  shadow p-4
   }
   .profile >div>div{
    @apply grid grid-cols-2 gap-1
   }
   .profile div label{
    @apply text-[1em] text-gray-600 font-medium
   }

   .profile div input{
    @apply  p-2 focus:outline-none bg-gray-200  text-[1em]
   }
  .profile>div ul li span{
    @apply mr-3
  } 
  

}
@layer base{
  
}

@layer utilities {
 
  .login form {
    @apply grid grid-cols-1  box-border  gap-4 bg-white p-10  w-[31Vw];
  }
.login form div{
  @apply grid gap-2
}
  .login form div label {
    @apply text-slate-800 ;
  }
  .login div input {
    @apply focus:outline-none  p-3  w-full my-1 text-gray-600  hover:bg-gray-200 rounded-md border border-gray-400;
  }

  .profile .navbar li {
    @apply bg-gray-200 p-3 hover:bg-blue-400 transition rounded-sm shadow-sm border-2 text-center;
  }
 
  .edit form > div {
    @apply  md:px-20 sm:px-10 lg:px-12 xl:px-20 py-8;
  }
  .hide-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .scrolling-touch {
    -webkit-overflow-scrolling: touch; /* For iOS devices */
    scroll-behavior: smooth; /* For other browsers */
  }


  .profile .address{
  @apply grid grid-cols-1 gap-2
 }
 .profile .address>:nth-child(2){
  @apply grid grid-cols-2 grid-rows-2 gap-x-10 

 }
 .profile .address div div{
  @apply grid grid-cols-1 grid-rows-3 auto-rows-min
 }
 .profile .address div div input{
  @apply w-full p-1 focus:outline-none hover:bg-gray-300 shadow 
 }
 .save-button{
  @apply grid place-content-center bg-red-600
 }
 .profile label>span{
  @apply text-red-600 text-2xl
 }
 .profile .address label{
  @apply text-left
 }
 .profile .address p{
  @apply  text-red-600 
 } 
 .scope li{
  @apply bg-gray-200 text-slate-700 p-2 rounded-md text-sm
 }
 .qualification input{
  @apply w-full shadow-md focus:outline-none p-1 text-gray-600
 }
 .qualification textarea{
  @apply w-full shadow-md focus:outline-none p-1 text-gray-600
 }
 .basic input{
  @apply p-1 bg-[rgba(0,0,0,.1)]
 }
 .basic label{
  @apply text-[1em] text-slate-600
 }
 .activity label{
  @apply text-white text-[0,9em]
 }
 .activity input{
  @apply focus:outline-none shadow p-1 text-black text-[0.85em]
 }
 .activity select{
  @apply  p-1 focus:outline-none text-[0.9em]
 }
 .service-label label{
  @apply text-gray-600
 }


 .service >div{
  @apply grid grid-cols-1   shadow shadow-gray-200 p-4 gap-2
 }
 .service >div >input[type='text']{
  @apply p-2 bg-gray-200 w-full
 }
 .service div textarea{
  @apply bg-gray-200 p-2
 }
 
 .service div label{
  @apply text-[1em] text-slate-500
 } 
 .service .location div{
  @apply grid grid-cols-3 gap-4
 } 
 .service .location div label{
  @apply  grid place-content-end 
 } 
 .service .location div input{
  @apply  col-span-2 outline-none bg-white border-b-2 border-gray-400 shadow pt-2
 } 
 
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

 
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
   display: grid;
   box-sizing: border-box;
  background-color:#679BE0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}-
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


     